
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reproduciendo cancion...</title>
</head>
<body>
    <div>
        <h1>Cancion...</h1>
        <hr />
        <hr />
        Notas: <b> @ViewData["cancion"] </b> .

    </div>
</body>
</html>
