
<div class="jumbotron">
    <h2>Inicio Test</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <u1 id="menu">
            <li> @Html.ActionLink("Ver Informacion", "Index", "Animal") </li>
        </u1>

    </div>
    @section footer{
        <p class="lead"> By Jhoselyn Zambrano S. </p>
    }
</div>

